@page
@model MovieClubWebApplication.Pages.Admin.Movies.High_rate.GethighRateModel
@{ ViewData["Title"] = "BestMovie";
 }
<div class="col-lg-8 col-md-8 col-sm-12">
</div>
<hr>
<h3 class="text-center bg-left">Movies Get High rate</h3>
<hr>

<div class="container">
    <div class="row">
        @foreach (var item in Model.movieInput)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-1">
                <div class="card bg-light">
                    <img class="card-img-top" src="@item.Image" style="border-radius: 1rem; height: 70%; width: 50%;" alt="Card image cap">
                    <div class="card-body mt-3">
                        <a asp-page="/Movies/Detail" asp-route-id="@item.Id" class="card-link">
                            <h5 class="card-title float-right d-inline"> @item.Title </h5>
                        </a>
                        <a class="btn btn-warning">ImdbRate: @item.ImdbRate</a>
                        <p class="card-text text-right"> @item.ProductYear :محصول سال</p>
                    </div>
                </div>
            </div>            
            }
        </div>
</div>



