@page
@model MovieClubWebApplication.Pages.Movies.GethighRateModel
@{ ViewData["Title"] = "BestMovie"; }
<div class="col-lg-8 col-md-8 col-sm-12">

    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr>
<h3 class="text-center bg-light">Movies Get High rate</h3>
<hr>
@foreach (var item in Model.movieInput)
{
<div class="card w-100 border-0 bg-light">
    <img class="card-img-top" src="@item.Image" style="border-radius: 1rem;" alt="Card image cap">
    <div class="card-body mt-3">
        <a asp-page="/Movies/Detail" asp-route-id="@item.Id" class="card-link">
            <h5 class="card-title float-right d-inline"> @item.Title </h5>
        </a>
        <a class="btn btn-warning">ImdbRate: @item.ImdbRate</a>
   
        <p class="card-text text-right"> @item.ProductYear :محصول سال</p>
       
        <a href="#" class="card-link"><i class="far fa-bell"></i></a>
        <a href="#" class="card-link"><i class="far fa-comment-alt"></i></a>
        <a href="#" class="card-link"><i class="far fa-heart"></i></a>
        <a href="#" class="card-link"><i class="far fa-bookmark"></i></a>
    </div>
</div>
}


