@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--search bar-->
<section class="search-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto mt-3">
                <form>
                    <div class="p-1 bg-light shadow-sm">
                        <div class="input-group">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-link bg-primary text-dark" id="Searchollah">
                                    <i class="fas fa-search"></i>
                                </button>
                                <!----<div class="row mt-3 py-1 ">
                                    <div class="col-12 text-center mt-3">
                                        <a asp-page="/Movies/SearchRazor" asp-route-id="Model.movieOutput.Id" class="btn btn-primary">Search</a>
                                    </div>
                                </div>-->
                            </div>
                            <input type="search" placeholder="search for movies, Actress ..." class="form-control">
                            <div class="input-group-append">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        بر اساس
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">فیلم</a>>
                                        <a class="dropdown-item" href="#">بازیگر</a>
                                        <a class="dropdown-item" href="#">کارگردان</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--advanced search-->

@section scripts{


    <script type="text/javascript">

        $(function () {

            $("searchField").keyup(function () {

                $.ajax({

                    type: "POST",
                    url: "https://localhost:5001/api/Movie/Search",
                    data: data,
                    datatype: "html",
                    success: function (data) {
                        $('#result').html(data);
                    }
                });
            });
        });



    </script>
}


<section class="advanced search">
    <div class="container d-none d-md-block">
        <div class="d-flex bg-light text-dark p-3 m-2">
            <div class="mr-auto">
                <button class="btn btn-outline-primary text-dark" type="button" data-toggle="collapse" href="/User">
                    <i class="fas fa-angle-down"></i>
                </button>
            </div>
            <div class="ml-auto">
                <h5 class="text-dark">جستجوی پیشرفته</h5>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-around bg-light text-dark p-3 m-2">
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">ترتیب</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">زیرنویس</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">رده سنی</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">IMDB</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">کشور</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">زانر</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-around p-3 m-2 bg-light text-dark">
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-link btn-outline-primary mt-1 text-dark">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">تا سال</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">از سال</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">منتقدین</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="card card-body flex-fill">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn text-dark">کیفیت</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->


<div class="container-fluid">
    <div class="row bg-light">
        <div class="col-lg-4 col-md-4 bg-ligh d-none d-md-block">
            <div class="row mt-3 py-1">
                <div class="col-12 text-center">
                    <h5>فیلم هایی که باید دید</h5>
                </div>
            </div>
            <hr>

            <div class="row mt-3 py-1">
                @foreach (var item in Model.movieHigh)
                {
                    <div class="col-4 text-right">
                        <img class="d-block w-100" src="@item.Image" style="width:100%; height:50%;">
                        <p class="card-text text-right">@item.Title </p>
                        <p class="card-text text-right">@item.RateByUser:رای کاربران</p>
                    </div>
                }
            </div>

            <div class="row mt-3 py-1 ">
                <div class="col-12 text-center mt-3">
                    <a asp-page="/Movies/HighRate/GethighRate" asp-route-id="Model.movieOutputs.Id" class="btn btn-primary">ورود به آرشیو</a>
                </div>
            </div>
            <hr />

            <div class="row mt-3 py-1 text-left">
                <div class="col-12 text-center ">
                    <h5>محبوب ترین ها</h5>
                </div>
            </div>
            <hr>

            <div class="row mt-3 py-1">
                @foreach (var item in Model.movies)
                {
                    <div class="col-4">
                        <img class="d-block w-100" src="@item.Image" style="width:100%; height:80%;">
                        <p class="card-text text-center"> @item.Title</p>
                    </div>
                }
            </div>

            <div class="row mt-3 py-1">
                <div class="col-12 text-center mt-3">
                    <a asp-page="/Movies/Popular" asp-route-id="Model.movieOutputs.Id" class="btn btn-primary">ورود به آرشیو</a>
                </div>
            </div>
            <hr />
            <div class="row mt-3 py-1">
                <div class="col-12 text-center">
                    <h5>بیشترین بازدید</h5>
                </div>
            </div>
            <hr>
            <div class="row mt-3 py-1">
                @for (int i = 0; i < Model.movies.Count; i++)
                {
                    <div class="col-4 text-center mt-3">
                        <img class="d-block w-100" src="@Model.movies[i].Image" style="width:50%; height:60%;">
                        <p class="card-text text-center"> @Model.movies[i].Title</p>
                    </div>
                }
            </div>

            <div class="row mt-3 py-1">
                <div class="col-12 text-center mt-3">
                    <a asp-page="/Movies/MostVisitedRazor" asp-route-id="Model.movieOutputs.Id" class="btn btn-primary">ورود به آرشیو</a>
                </div>
            </div>
            <hr />
            <div class="row mt-3 py-1">
                <div class="col-12 text-center ">
                    <h5>جدیدترین فیلم ها</h5>
                </div>
            </div>
            <hr>
            <div class="row mt-3 py-1">
                @foreach (var item in Model.movieOutput)
                {
                    <div class="col-4 text-right">
                        <img class="d-block w-100" src="@item.Image" alt="First slide" style="width:50%; height:60%;">
                        <p class="card-text text-center"> @item.Title</p>
                    </div>
                }
            </div>
            <div class="row mt-3 py-1 ">
                <div class="col-12 text-center mt-3">
                    <a asp-page="/Movies/RecentlyRazor" asp-route-id="Model.movieOutput.Id" class="btn btn-primary">ورود به آرشیو</a>
                </div>
            </div>
            <hr>
            <!--دسته بندی---->
            <div class="row mt-3 py-1">
                <div class="col-12 text-right">
                    <h5>دسته بندی</h5>
                </div>
            </div>
            <hr>
            <div class="row py-1 text-right">
                <div class="row py-1">
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                اکشن 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                انیمیشن 1233
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                معمایی 3215
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                ورزشی 67323
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                کمدی 754
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                عاشقانه 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                هیجان انگیز 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                وسترن 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                علمی تخیلی 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                خانوادگی 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                خانوادگی 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                خانوادگی 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                خانوادگی 2000
                            </a>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn p-1 mx-auto border-0 text-dark">
                            <a class="btn-link text-decoration-none" href="#">
                                خانوادگی 2000
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!--Movie-->
        <div class="col-lg-8 col-md-8 col-sm-12">
            <hr>
            <h3 class="text-center bg-light">Movies</h3>
            <hr>
            @for (int i = 0; i < 3; i++)
            {
                <div class="card w-50 border-0 bg-light">
                    <img class="card-img-top" src="@Model.movieList[i].Image" style="width:100%; height:10%;" asp-page="/Movies/Detail" asp-route-id="@Model.movieList[i].Id">
                    <div class="card-body mt-3">
                        <a href="#" class="card-link">
                            <h5 class="card-title float-right d-inline"> "@Model.movieList[i].Title </h5>
                        </a>
                        <a asp-page="/Movies/Detail" asp-route-id="@Model.movieList[i].Id" class="btn btn-primary">ادامه مطلب</a>
                        <!---- <a href="#" class="card-link"><i class="far fa-bell"></i></a>
                         <a href="#" class="card-link"><i class="far fa-comment-alt"></i></a>
                         <a href="#" class="card-link"><i class="far fa-heart"></i></a>
                         <a href="#" class="card-link"><i class="far fa-bookmark"></i></a>-->
                    </div>
                </div>
            }
        </div>
    </div>
</div>
